{% extends 'base.html.twig' %}

{% block page_title %}{{ column.id ? 'Edit Column'|trans : 'Create Column'|trans }}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.color) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.isDefault) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.isClosedStatus) }}
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('task_column_index') }}" class="btn">
                    {{ icon('back', true) }} {{ 'back'|trans }}
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ icon('save', true) }} {{ 'save'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
